{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set errors = pageProperties.errors %}

{% extends "layouts/default.njk" %}

{% if reqType !== "reverify" %}
  {% set title = i18n.identityChecksTitle %}
  {% set insetText = i18n.identityChecksCompletedInsetText %}
  {% set pageHeader = i18n.identityChecksTitle %}
{% else %}
  {% set title = i18n.reverifyIdentityChecksTitle %}
  {% set insetText = i18n.reverifyIdentityChecksCompletedInsetText %}
  {% set pageHeader = i18n.reverifyIdentityChecksTitle %}
{% endif %}

{% block main_content %}

{% set errorPrefix = "wicc" %}
  {% if errors[errorPrefix + "-day"] %}
{% set errorMessageText = errors[errorPrefix + "-day"].text %}
  {% elif errors[errorPrefix + "-month"] %}
{% set errorMessageText = errors[errorPrefix + "-month"].text %}
  {% elif errors[errorPrefix + "-year"] %}
{% set errorMessageText = errors[errorPrefix + "-year"].text %}
  {% endif %}

  <div>
    <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
      {% include "partials/csrf_token.njk" %}
      {% include "partials/user_name.njk" %}

      <div class="govuk-form-group {% if errors %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {{ pageHeader }}
            </h1>
          </legend>
          {% if i18n.wiccDateHint %}
            <div id="wicc-hint" class="govuk-hint">{{ i18n.wiccDateHint }}</div>
          {% endif %}
          {% if errors %}
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errorMessageText }}
            </span>
          {% endif %}

          <div class="govuk-date-input" id="wicc">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="wicc-day">
                  {{ i18n.day }}
                </label>
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-2{% if errors %} govuk-input--error{% endif %}"
                  id="wicc-day" name="wicc-day" value="{{ payload["wicc-day"] | default('') }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="wicc-month">
                  {{ i18n.month }}
                </label>
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-2{% if errors %} govuk-input--error{% endif %}"
                  id="wicc-month"
                  name="wicc-month"
                  value="{{ payload["wicc-month"] | default('') }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="wicc-year">
                  {{ i18n.year }}
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4{% if errors %} govuk-input--error{% endif %}"
                      id="wicc-year" name="wicc-year" value="{{ payload["wicc-year"] | default('') }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukInsetText({
       text: insetText
      }) }}

      {{ govukButton({
        text: i18n.Continue,
        id: "continue-button"
      }) }}
    </form>
  </div>

{% endblock main_content %}