{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set title = i18n.homeAddressManualTitle %}

{% block main_content %}
    <form action="" method="POST">
        {% include "partials/user_name.njk" %} 
        {{ govukCheckboxes({
            name: "documents",
            fieldset: {
                legend: {
                    text: i18n.identityDocumentsIDVTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: i18n.identityDocumentsIDVHint
            },
            items: [
            {
                value: "biometricPassport",
                text: i18n.biometricPassport,
                attributes: {
                    "data-event-id": "CONTINUE - biometricPassport"
                }
            },
            {
                value: "irishPassport",
                text: i18n.irishPassport,
                attributes: {
                    "data-event-id": "CONTINUE - irishPassport"
                }
            },
            {
                value: "ukDriversLicence",
                text: i18n.ukDriversLicence,
                attributes: {
                    "data-event-id": "CONTINUE - ukDriversLicence"
                }
            },
            {
                value: "identityCard",
                text: i18n.identityCard,
                attributes: {
                    "data-event-id": "CONTINUE - identityCard"
                }
            },
            {
                value: "biometricPermit",
                text: i18n.biometricPermit,
                attributes: {
                    "data-event-id": "CONTINUE - biometricPermit"
                }
            },
            {
                value: "biometricCard",
                text: i18n.biometricCard,
                attributes: {
                    "data-event-id": "CONTINUE - biometricCard"
                }
            },
            {
                value: "frontierPermit",
                text: i18n.frontierPermit,
                attributes: {
                    "data-event-id": "CONTINUE - frontierPermit"
                }
            }
            ]
        }) }}
    </form>
    {{ govukButton({
        text: i18n.Continue,
        attributes: {
            "data-event-id": "CONTINUE - dc1"
        }
    }) }}
{% endblock main_content %}