{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "layouts/default.njk" %}
{% set title = i18n.howIdentityDocsCheckedTabTitle %}

{% block main_content %}
  <form action="" method="POST">
    {% include "partials/user_name.njk" %}
    <div class="govuk-form-group">
        <h1 class="govuk-heading-l">{{ i18n.howIdentityDocsCheckedTitle }}</h1>
        <p class="govuk-body">
            {{ i18n.howIdentityDocsCheckedBodyText1 }}<a href="#" id="identity-verification-standard-link-id">{{ i18n.howIdentityDocsCheckedVerificationStandardLink }}</a>.
        </p>
        <p class="govuk-body">{{ i18n.howIdentityDocsCheckedBodyText2 }}</p>

        {{ govukRadios({
            errorMessage: errors.howIdentityDocsCheckedRadio if errors,
            classes: "govuk-radios",
            id: "how-identity-docs-checked-radios",
            name: "howIdentityDocsCheckedRadio",
            fieldset: {
                legend: {
                    text: i18n.howIdentityDocsCheckedWhichOptionHeading,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            hint: {
                text: i18n.howIdentityDocsCheckedHint
            },
            value: selectedOption,
            items: [
                {
                    value: "cryptographic_security_features_checked",
                    text: i18n.howIdentityDocsCheckedOption1,
                    id: "option-1",
                    hint: {
                        text: i18n.howIdentityDocsCheckedOption1hint
                    }
                },
                {
                    value: "physical_security_features_checked",
                    text: i18n.howIdentityDocsCheckedOption2,
                    id: "option-2",
                    hint: {
                        text: i18n.howIdentityDocsCheckedOption2hint
                    }
                }
            ]
        }) }}
    </div>

        {{ govukButton({
            text: i18n.Continue,
            id: "continue-button"
        }) }}
  </form>

<!-- Calling Matomo event script to capture event actions based on page title -->
<script nonce={{ nonce | dump | safe }}>
    trackEventBasedOnPageTitle("identity-verification-standard-link-id", "{{title}}", "click-link", "Identity verification standard link");
    trackEventBasedOnPageTitle("option-1", "{{title}}", "{{matomoRadioSelection}}", "Option 1");
    trackEventBasedOnPageTitle("option-2", "{{title}}", "{{matomoRadioSelection}}", "Option 2");
    trackEventBasedOnPageTitle("continue-button", "{{title}}", "{{matomoButtonClick}}", "Continue");
</script>

{% endblock main_content %}