{% from "navbar.njk" import addPredefinedNavbar %}

{# The last parameter of this navbar display function is used to determine if the 'Your companies' link should be displayed - setting this to 'no' until service is live #}
{{ addPredefinedNavbar(userEmail, chsMonitorGuiUrl, i18n, displayAuthorisedAgent, "no", pageLanguage=lang) }}