{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set errors = pageProperties.errors %}
{% extends "layouts/default.njk" %}
{% set title = i18n.whatWellShowOnRegisterTitle  %}

{% block main_content %}
  <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
    {% include "partials/csrf_token.njk" %}
    <span class="govuk-caption-l name-header">{{ personFullName }}</span>
    <div class="govuk-form-group">
        <h1 class="govuk-heading-l">{{ i18n.whatWellShowOnRegisterTitle }}</h1>
        <p class="govuk-body">{{ i18n.laterInThisServiceWellAskYou }}</p>
        <p class="govuk-body">{{ i18n.ifTheyConnectTheirVerifiedIdentity }}</p>
        <p class="govuk-body">{{ i18n.ifNameIsUsuallyKnownByADifferentName | replace('{FULL_NAME}', personFullName) }}</p>
        {{ govukRadios({
            errorMessage: errors.useNameOnPublicRegisterRadio if errors,
            name: "useNameOnPublicRegisterRadio",
            id: "use-name-on-public-register-radios",
            value: selectedOption,
            fieldset: {
                legend: {
                text: i18n.canWeUseNameForReverification | replace('{FULL_NAME}', personFullName),
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                    value: "use_name_on_public_register_yes",
                    text: i18n.useNameOption1,
                    id: "option-1"
                },
                {
                    value: "use_name_on_public_register_no",
                    text: i18n.useNameOption2,
                    id: "option-2"
                }
            ]
        }) }}
    </div>
    {{ govukButton({
        text: i18n.Continue,
        id: "continue-button"
    }) }}
  </form>
{% endblock main_content %}