{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}


{% set errors = pageProperties.errors %}
{% extends "layouts/default.njk" %}
{% set title = i18n.useNameOnPublicRegisterTitle  %}
{% set matomoTitle = i18n.useNameOnPublicRegisterTitle  %}

{% block main_content %}
  <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
    {% include "partials/csrf_token.njk" %}
    {% include "partials/user_name.njk" %}
    <div class="govuk-form-group">
        <h1 class="govuk-heading-l">{{ i18n.useNameOnPublicRegisterTitle }}</h1>
        <div class="govuk-hint govuk-!-margin-bottom-6">
            {{ i18n.selectNoOptionExplanation }}
        </div>
        {{ govukRadios({
            errorMessage: errors.useNameOnPublicRegisterRadio if errors,
            classes: "govuk-radios",
            id: "use-name-on-public-register-radios",
            name: "useNameOnPublicRegisterRadio",
            value: selectedOption,
            items: [
                {
                    value: "use_name_on_public_register_yes",
                    text: i18n.useNameOption1,
                    id: "option-1"
                },
                {
                    value: "use_name_on_public_register_no",
                    text: i18n.useNameOption2,
                    id: "option-2"
                }
            ]
        }) }}
    </div>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  {{i18n.detailsHeading}}
                </span>
            </summary>
            <div class="govuk-details__text">
             <p class="govuk-body">{{i18n.detailsText1}}</p>
             <p>{{i18n.detailsText2}}</p>
            </div>
        </details>

        {{ govukButton({
            text: i18n.Continue,
            id: "continue-button"
        }) }}
  </form>

<!-- Calling Matomo event script to capture event actions based on page title -->


{% endblock main_content %}