{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}

{% set title =  i18n.codePageTabTitle %}

{% block main_content %}
    <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
        {% include "partials/csrf_token.njk" %}
        <h1 class="govuk-heading-l">
       {{ i18n.codePageHeading | replace("{NAME}", firstName + " " + lastName)}}
        </h1>
        <p class="govuk-body">
            {{ i18n.onceYou }} {{ firstName }} {{ lastName }}{{ i18n.identity }}
        </p>
        <p class="govuk-body">
            {{ i18n.weWill }}
        </p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    {{ i18n.whenThey }}
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>
                    {{ i18n.theyMay }}
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{ i18n.asPart }}</li>
                    <li>{{ i18n.ifThey }}</li>
                    <li>{{ i18n.ifTheyBecome }}</li>
                </ul>
            </div>
        </details>
{{ govukButton({
            text: i18n.Continue,
            id: "continue-button"
        })}}
    </form>
    <script nonce={{ nonce | dump | safe }}>
        _paq.push(["setDocumentTitle", "User's " + "{{i18n.codePageTitle}}" + " - " + "{{ i18n[tabTitleKey]}}"]);
        $("form").on("submit",function() {analyticsWithCustomisedMatomoText();});

        function analyticsWithCustomisedMatomoText(){
        var eventCategory = `{{ i18n.codePageHeading }}`;
        _paq.push(["trackEvent", eventCategory, eventNameBtn]);
        }
    </script>

{% endblock main_content %}