{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}

{% if 'Cwmnïau' in i18n.codePageTitle %}
    {% set title = i18n.codePageTitle + ' ' + firstName + ' ' + lastName %}
{% else %}
    {% set title = firstName + ' ' + lastName + ' ' + i18n.codePageTitle %}
{% endif %}

{% block main_content %}
    <form action="" method="POST">
        <h1 class="govuk-heading-l">
            {% if 'Cwmnïau' in i18n.codePageTitle %}
                {{ i18n.codePageHeading }} {{ firstName }} {{ lastName }}
            {% else %}
                {{ firstName }} {{ lastName }}{{ i18n.codePageHeading }}
            {% endif %}
        </h1>
        <p class="govuk-body">
            {{ i18n.onceYou }} {{ firstName }} {{ lastName }}  {{ i18n.identity }}
        </p>
        <p class="govuk-body">
            {{ i18n.weWill }}
        </p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    {{ i18n.whenThey }}
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>
                    {{ i18n.theyMay }}
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{ i18n.asPart }}</li>
                    <li>{{ i18n.ifThey }}</li>
                    <li>{{ i18n.ifTheyBecome }}</li>
                </ul>
            </div>
        </details>
        {{ govukButton({
            text: i18n.Continue,
            id: "continue-button"
        }) }}
    </form>

<!-- Calling Matomo event script to capture event actions based on page title -->
<script>
    // Overriding page title to remove user's personal details
    _paq.push(["setDocumentTitle", "User's " + "{{i18n.codePageTitle}}" + " - Tell Companies House you have verified someone’s identity"]);
    trackEventBasedOnPageTitle("continue-button", "User's " + "{{i18n.codePageTitle}}" + " - Tell Companies House you have verified someone’s identity", "{{matomoButtonClick}}", "Continue-PC");
</script>

{% endblock main_content %}
