{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set title = i18n.identityDocumentsIDVTitle %}

{% block main_content %}
    <form action="" method="POST">
        {% include "partials/csrf_token.njk" %}
        {% include "partials/user_name.njk" %} 
        {{ govukCheckboxes({
            name: "documentsGroup1",
            fieldset: {
                legend: {
                    text: i18n.identityDocumentsIDVTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: i18n.identityDocumentsIDVHint
            },
            values: payload.documentsGroup1,
            items: [
            {
                value: "passport",
                text: i18n.biometricPassport,
                id: "biometric-passport"
            },
            {
                value: "irish_passport_card",
                text: i18n.irishPassport,
                id: "irish-passport"
            },
            {
                value: "UK_or_EU_driving_licence",
                text: i18n.ukDriversLicence,
                id: "uk-drivers-licence"
            },
            {
                value: "EEA_identity_card",
                text: i18n.identityCard,
                id: "identity-card"
            },
            {
                value: "UK_biometric_residence_permit",
                text: i18n.biometricPermit,
                id: "uk-biometric-residence-permit"
            },
            {
                value: "UK_biometric_residence_card",
                text: i18n.biometricCard,
                id: "uk-biometric-residence-card"
            },
            {
                value: "UK_frontier_worker_permit",
                text: i18n.frontierPermit,
                id: "uk-frontier-worker-permit"
            }
            ]
        }) }}
        {{ govukButton({
            text: i18n.Continue,
            id: "continue-button"
        }) }}
    </form>


    
{% endblock main_content %}