{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set title = i18n.identityDocumentsIDVTitle %}

{% block main_content %}
    <form action="" method="POST">
        {% include "partials/user_name.njk" %} 
        {{ govukCheckboxes({
            name: "documentsGroup1",
            fieldset: {
                legend: {
                    text: i18n.identityDocumentsIDVTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: i18n.identityDocumentsIDVHint
            },
            values: payload.documents,
            items: [
            {
                value: "biometricPassport",
                text: i18n.biometricPassport,
                id: "biometric-passport"
            },
            {
                value: "irishPassport",
                text: i18n.irishPassport,
                id: "irish-passport"
            },
            {
                value: "ukDriversLicence",
                text: i18n.ukDriversLicence,
                id: "uk-drivers-licence"
            },
            {
                value: "identityCard",
                text: i18n.identityCard,
                id: "identity-card"
            },
            {
                value: "biometricPermit",
                text: i18n.biometricPermit,
                id: "uk-biometric-residence-permit"
            },
            {
                value: "biometricCard",
                text: i18n.biometricCard,
                id: "uk-biometric-residence-card"
            },
            {
                value: "frontierPermit",
                text: i18n.frontierPermit,
                id: "uk-frontier-worker-permit"
            }
            ]
        }) }}
        {{ govukButton({
            text: i18n.Continue,
            id: "continue-button"
        }) }}
    </form>

<!-- Calling Matomo event script to capture event actions based on page title -->
<script>
    trackEventBasedOnPageTitle("biometric-passport", "{{title}}", "{{matomoRadioSelection}}", "Biometric or machine readable passport");
    trackEventBasedOnPageTitle("irish-passport", "{{title}}", "{{matomoRadioSelection}}", "Irish Passport Card");
    trackEventBasedOnPageTitle("uk-drivers-licence", "{{title}}", "{{matomoRadioSelection}}", "UK, Channel Islands,  Isle of Man, and EU photocard driving license (full or provisional)");
    trackEventBasedOnPageTitle("identity-card", "{{title}}", "{{matomoRadioSelection}}", "Identity card with biometric information from the EU, Norway, Iceland or Liechtenstein");
    trackEventBasedOnPageTitle("uk-biometric-residence-permit", "{{title}}", "{{matomoRadioSelection}}", "UK biometric residence permit (BRP)");
    trackEventBasedOnPageTitle("uk-biometric-residence-card", "{{title}}", "{{matomoRadioSelection}}", "UK biometric residence card (BRC)");
    trackEventBasedOnPageTitle("uk-frontier-worker-permit", "{{title}}", "{{matomoRadioSelection}}", "UK Frontier worker permit");
    trackEventBasedOnPageTitle("continue-button", "{{title}}", "{{matomoButtonClick}}", "Continue-DC1");
</script>
    
{% endblock main_content %}