{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% extends "layouts/default.njk" %}

{% if "en" in lang %}
    {% set title = i18n.whatIs + ' ' + firstName + ' ' + lastName + i18n.emailAddress %}
{% else %}
    {% set title = i18n.whatIs + ' ' + i18n.emailAddress + ' ' + firstName + ' ' + lastName %}
{% endif %}

{% block main_content %}
    <form action="" method="POST">
        {% include "partials/csrf_token.njk" %}
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">
                {{ i18n.whatIs + i18n.emailAddress | replace("NAME", firstName + " " + lastName)}}
            </h1>
           
            {{ govukInput({
                hint: {
                    text: i18n.theyMustAbleToAccess
                },
                errorMessage: {
                    text: errors["email-address"].text
                } if errors["email-address"] | length,
                classes: "govuk-input",
                id: "email-address",
                name: "email-address",
                autocomplete: "email",
                value: payload["email-address"],
                attributes: {
                    "aria-label": "email-address"
                }
            }) }}

             {{ govukInput({
                label: {
                    text: i18n.confirmEmail,
                    classes: "govuk-label--s"
                },
                errorMessage: {
                    text: errors["confirm"].text
                } if errors["confirm"] | length,
                classes: "govuk-input",
                id: "confirm",
                name: "confirm",
                value: payload["confirm"],
                autocomplete: "off"
            }) }}

            {{ govukInsetText({
              text: i18n.emailAddressCanOnlyUsedOnce
            }) }}
        </div>
        {{ govukButton({
            text: i18n.Continue,
            id: "continue-button"
        })}}
    </form>

<!-- Calling Matomo event script to capture event actions based on page title -->
    <script nonce={{ nonce | dump | safe }}>
        $("form").on("submit",function() {analyticsWithCustomisedMatomoText();});
        function analyticsWithCustomisedMatomoText(){
        var eventCategory = `{{ i18n.whatIs + i18n.emailAddress}}`;
        alert("LOCAL " + eventCategory);
        return eventCategory;
        //_paq.push(['setDocumentTitle', eventCategory + ' - Tell Companies House you have verified someone’s identity - GOV.UK']);
        }
    </script>

<script nonce={{ nonce | dump | safe }}>
    // Overriding page title to remove user's personal details
    
    // Add event listener to disable paste
    document.addEventListener('DOMContentLoaded', function() {
        var confirmInput = document.getElementById('confirm');
        if (confirmInput) {
            confirmInput.onpaste = function() {
                return false;
            };
        }
    });
</script>


{% endblock main_content %}