{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set errors = pageProperties.errors %}
{% extends "layouts/default.njk" %}
{% set title = i18n.idDocumentDetailstitle %}

{% set expiryDateOptionalDocs = [i18n.UK_PASS_card, i18n.UK_HM_veteran_card, i18n.PRADO_supported_photo_id, i18n.work_permit_photo_id] %}
{% set otherOptionalDocs = [i18n.PRADO_supported_photo_id, i18n.work_permit_photo_id] %}

{% block main_content %}
  <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
    {% include "partials/csrf_token.njk" %}
    <h1 class="govuk-heading-l"> {{ i18n.idDocumentDetailstitle }} </h1>
    {% for body in documentsChecked %}
      {% set index = loop.index %}
        <h2 class="govuk-heading-m"> {{i18n.details | replace("{DOCNAME}", body)}} </h2>

        <!--Document Input-->
        {% if otherOptionalDocs.includes(body) %}
           {% set labelText = (i18n.number | replace("{DOCNAME}", body)) + " " +  i18n.optional %}
        {% else %}
           {% set labelText = i18n.number | replace("{DOCNAME}", body) %}
        {% endif %}
        {{ govukInput({
            label: {
                text: labelText,
                classes: "govuk-label "
            },
            classes: "govuk-input--width-10",
            hint: {
                text: hintText[index - 1]
            },
            id: "documentNumber_" + index,
            name: "documentNumber_" + index,
            value: payload["documentNumber_" + index],
            errorMessage: {
                 text: errors["documentNumber_" + index].text
            } if errors["documentNumber_" + index]
        }) }}

        <!--Date  Input-->
        {% include "partials/date.njk" %}

        <!--Country  Input-->
        <div id="typeahead-form-group-{{index}}" class="govuk-form-group
          {% if errors["countryInput_" + index] %} govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="countryInput_{{index}}">
              <span class="govuk-visually-hidden">{{ body }}</span>
              {% if otherOptionalDocs.includes(body) %}
                {{i18n.chooseCountryText}} {{i18n.optional}}
              {% else %}
                {{i18n.chooseCountryText}} 
              {% endif %}
            </label>
            <p class="govuk-hint" id="typeahead-hint-{{index}}">{{i18n.chooseCountryhint}} {{body}}.</p>
            {% set dropdownDefaultText = i18n.chooseCountryText1 %}
            {% set dropdownValue = payload["countryInput_" + index] %}
            <div id="my-autocomplete-container-{{index}}" class="autocomplete-wrapper govuk-input--width-10">
            </div>
                  {% set dropdownNumber = index %}            
                  {% include "partials/country-typeahead-noscript-input.njk" %} 
        </div>
    {% endfor %}
   
    {{ govukButton({
            text: i18n.Continue,
            id: "continue-button"
    }) }}
  </form>
{% endblock main_content %}  