{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}

{% if useNameOnPublicRegister == "use_name_on_public_register_no" %}
    {% set displayedFirstName = (preferredFirstName | escape) %}
    {% set displayedLastName = (preferredLastName | escape) %}
{% else %}   
    {% set displayedFirstName = (firstName | escape) %}
    {% set displayedLastName = (lastName | escape) %}
{% endif %}
{% set personFullName = displayedFirstName + " " + displayedLastName %}

{% if reqType == "reverify"%}
    {% set title = i18n.confirmReverificationTitle %}
    {% set warningText = i18n.confirmReverificationWarningText | replace ('{ACSP_NAME}', acspName) %}
    {% set declarationSubHeading = i18n.identityVerificationStatement %}
    {% set confirmationStatement = i18n.confirmationReverificationStatement 
        | replace('{ACSP_NAME}', acspName | escape)
        | replace('{PERSON_NAME}', personFullName) 
        | replace('{REVERIFICATION_DATE}', formattedDate) 
    %}
    {% set showThisDeclarationInsetText = i18n.reverifyShowThisDeclaration %}
{% else %}
    {% set title = i18n.confirmVerificationHeading %}
    {% set warningText = i18n.confirmVerificationWarningText | replace ('{ACSP_NAME}', acspName) %}
    {% set declarationSubHeading = i18n.declarationSubHeading %}
    {% set confirmationStatement = i18n.confirmationStatement 
        | replace('{ACSP_NAME}', acspName | escape)
        | replace('{PERSON_NAME}', personFullName) 
        | replace('{VERIFICATION_DATE}', formattedDate) 
    %}
    {% set showThisDeclarationInsetText = i18n.showThisDeclaration %}
{% endif %}

{% set checkBoxText = 
    "<p class=\"govuk-body\">" + confirmationStatement 
    + "</p><p class=\"govuk-body\">" + i18n.Mae + i18n.isSupervisedBy | replace ('{ACSP_NAME}', acspName | escape) + " " + amlBodies + ".</p>" 
%}

{% block main_content %}
{% include "partials/user_name.njk" %}
<h1 class="govuk-heading-l">{{ title }}</h1>

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">{{ i18n.warning }}</span>
      {{ warningText }}
    </strong>
</div>

<form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
    {% include "partials/csrf_token.njk" %}
    {{ govukCheckboxes({
        name: "declaration",
        errorMessage: errors.declaration if errors,
        fieldset: {
            legend: {
                text: declarationSubHeading,
                classes: "govuk-fieldset__legend--m"
            }
        },
        values: payload.declaration,
        items: [
        {
            value: "confirm",
            html: checkBoxText
        }
        ]
    }) }}

    <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">{{ i18n.informationShownOnPublicRegister }}</h2>
        <p class="govuk-body">{{ showThisDeclarationInsetText }}</p>
    </div>

    {{ govukButton({
        text: i18n.Continue,
        id: "continue-button"
    }) }}
</form>

<script type="text/javascript" nonce={{ nonce | dump | safe }}>
    ignoreCheckboxForThisPage = true;
</script>

{% endblock main_content %}