{% from "govuk/components/footer/macro.njk" import govukFooter %}

        {{ govukFooter({
          meta: {
            items: [
              {
                href: "https://resources.companieshouse.gov.uk/serviceInformation.shtml",
                text: "Policies"
              },
              {
                href: "/help/cookies",
                text: "Cookies"
              },
              {
                href: "/help/contact-us",
                text: "Contact us"
              },
              {
                href: "/tell-companies-house-you-have-verified-someones-identity/accessibility-statement",
                text: "Accessibility statement"
              },
              {
                href: "https://developer.company-information.service.gov.uk/",
                text: "Developers"
              }
            ]
          }
        }) }}
        
        {% set templateTitle = title %}
        {% if "s email address?" in title %}
            {% set templateTitle = "What is User's email address?" %}
        {% endif %}
        {% if "s personal code" in title %}
            {% set templateTitle = "User's personal code" %}
        {% endif %}
        {% if "use this name" in title %}
            {% set templateTitle = "Can we use this name in the identity verification statement for this person?" %}
        {% endif %}


<div id="templateName" data-id="{{templateTitle}}" hidden></div>
<script type="application/javascript" nonce={{ nonce | dump | safe }}>
  window.SERVICE_NAME = "Tell Companies House you have verified someone's identity";
  window.PIWIK_URL = '{{ PIWIK_URL }}'
  window.PIWIK_SITE_ID = '{{ PIWIK_SITE_ID }}'
</script>

<script src="{{ cdnHost }}/javascripts/govuk-frontend/v4.6.0/govuk-frontend-4.6.0.min.js"></script>
<script src="{{ cdnHost }}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
<script src="{{ cdnHost }}/javascripts/app/cookie-consent/matomo-only-cookie-consent.js"></script>
<script src="{{ cdnHost }}/javascripts/vendor/jquery-3.3.1.min.js"></script>
<script src="{{ cdnHost }}/javascripts/lib/navbar.js"></script>
<script nonce={{ nonce | dump | safe }}>window.GOVUKFrontend.initAll()</script>
