<link rel="stylesheet" href="{{cdnHost}}/stylesheets/accessible-autocomplete/autocomplete.min.css"/>
<link href="{{cdnHost}}/stylesheets/extensions/languages-nav.css" rel="stylesheet"/>
<link href="{{ cdnHost }}/stylesheets/ch.gov.uk.css" rel="stylesheet"/>
{% include "partials/__styles.njk" %}
<meta name="format-detection" content="telephone=no">
{# Set the page object to hold values exported from server to JS files #}
<script nonce={{ nonce | dump | safe }}>
  var page = page || {};
</script>
<!-- Matomo script to run function trackEventBasedOnPageTitle on each page -->
{% include "partials/piwik.njk" %}