<script type="text/javascript" src="{{cdnHost}}/javascripts/app/accessible-autocomplete.min.js"></script>
<script type="text/javascript">

document.addEventListener("DOMContentLoaded", function() {
  const countryList = "{{countryList}}";
  const error = "{{errors.countryInput.text}}"
  const autocompleteContainers = document.querySelectorAll('[id^="my-autocomplete-container-"]');
  autocompleteContainers.forEach((container, index) => {
    const countryDefaultValue = "{{ payload['countryInput_' + (index + 1)] }}";


    accessibleAutocomplete({
      element: container,
      id: `countryInput_${index + 1}`, 
      source: countryList.split(";"),
      name: `countryInput_${index + 1}`,
      defaultValue: countryDefaultValue
    });
  });
});
    
  // Mimic nunjucks error generation
      window.onload = function () {
      if (error) {
        document.getElementById("typeahead-form-group").className = "govuk-form-group govuk-form-group--error";
        const errorHtml = '<p class="govuk-error-message"> <span class="govuk-visually-hidden">Error:</span> ' + error + '</p>'
        const element = document.getElementById("typeahead-hint");
        element.insertAdjacentHTML("afterend", errorHtml);
        document.getElementById("countryInput").classList.add("govuk-input--error");
      }
} 
</script>

<!-- Javascript disabled -->
<noscript>
    {% include "./country-typeahead-noscript-input.njk" %}
</noscript>