<label for="countryInput_{{index}}" class="govuk-label">{{countryLabelText}}</label>
<div id="country-hint-{{index}}" class="govuk-hint">{{i18n.enterCountryHint}}</div>
  <!-- Javascript disabled -->
  <noscript>
    {% include "./country-typeahead-noscript-input.njk" %}
  </noscript>
<div id="my-autocomplete-container-{{index}}" class="govuk-form-group {% if errors['countryInput_' + index] %} govuk-form-group--error{% endif %} govuk-!-margin-bottom-9">
</div>

<script type="text/javascript" src="{{cdnHost}}/javascripts/app/accessible-autocomplete.min.js"></script>
<script type="text/javascript" nonce={{ nonce | dump | safe }}>
(function() {
  var container = document.getElementById('my-autocomplete-container-{{index}}');
  var countryList = "{{countryList}}";
  var error = "{% if errors['countryInput_' + index] %}{{errors['countryInput_' + index].text}}{% else %}{% endif %}";
  var countryDefaultValue = "{{payload['countryInput_' + index]}}";
  var index = "{{index}}";
  
  accessibleAutocomplete({
    element: document.getElementById('my-autocomplete-container-' + index),
    id: 'countryInput_' + index,
    name: 'countryInput_' + index,
    defaultValue: countryDefaultValue,
    source: countryList.split(";"),
    autoselect: true,
    displayMenu: 'overlay',
    minLength: 1
  });

  if (error) {
    container.className += " govuk-form-group--error";
    var errorHtml = '<p class="govuk-error-message"> <span class="govuk-visually-hidden">Error:</span> ' + error + '</p>';
    var element = document.getElementById("country-hint-" + index);
    element.insertAdjacentHTML("afterend", errorHtml);
    var input = document.getElementById('countryInput_' + index);
    input.className += " govuk-input--error";
  }
})();
</script>
