{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

  {% if errors["expiryDate_" + index] %}
    {% set errorMessageText = errors["expiryDate_" + index].text %}
  {% elif errors["expiryDateDay_" + index] %}
    {% set errorMessageText = errors["expiryDateDay_" + index].text %}
  {% elif errors["expiryDateMonth_" + index] %}
    {% set errorMessageText = errors["expiryDateMonth_" + index].text %}
  {% elif errors["expiryDateYear_" + index] %}
    {% set errorMessageText = errors["expiryDateYear_" + index].text %}
  {% endif %}


   <div class="govuk-form-group {% if errorMessageText  %}govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <legend class="govuk-fieldset__legend">
           {{i18n.ExpiryDate}}
        </legend>
        <div id="passport-issued-hint" class="govuk-hint">
           {{i18n.ExpiryDateHint}}
        </div>
        {% if errorMessageText %}
          <p id="expiry-date-error" class="govuk-error-message">
             <span class="govuk-visually-hidden">Error:</span> {{ errorMessageText }}
          </p>
        {% endif %}
        <div class="govuk-date-input" id="expiryDate_{{index}}">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiryDate_{{index}}">
                        {{ i18n.day }}
                    </label>
                    {% set dayValue = payload["expiryDateDay_" + index] %}
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4{% if errorMessageText %} govuk-input--error{% endif %}" id="expiryDateDay_{{index}}" name="expiryDateDay_{{index}}" value="{{ dayValue }}">
                </div>
            </div>    
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiryDateMonth_{{index}}">
                        {{ i18n.month }}
                    </label>
                    <select class="govuk-select{% if errorMessageText %} govuk-select--error{% endif %}" id="expiryDateMonth_{{index}}" name="expiryDateMonth_{{index}}">
                        <option value="" disabled selected>{{ i18n.chooseMonth }}</option>
                        <option value="01" {% if payload["expiryDateMonth_" + index] == '01' %} selected {% endif %}>{{ i18n.january }}</option>
                        <option value="02" {% if payload["expiryDateMonth_" + index] == '02' %} selected {% endif %}>{{ i18n.february }}</option>
                        <option value="03" {% if payload["expiryDateMonth_" + index] == '03' %} selected {% endif %}>{{ i18n.march }}</option>
                        <option value="04" {% if payload["expiryDateMonth_" + index] == '04' %} selected {% endif %}>{{ i18n.april }}</option>
                        <option value="05" {% if payload["expiryDateMonth_" + index] == '05' %} selected {% endif %}>{{ i18n.may }}</option>
                        <option value="06" {% if payload["expiryDateMonth_" + index] == '06' %} selected {% endif %}>{{ i18n.june }}</option>
                        <option value="07" {% if payload["expiryDateMonth_" + index] == '07' %} selected {% endif %}>{{ i18n.july }}</option>
                        <option value="08" {% if payload["expiryDateMonth_" + index] == '08' %} selected {% endif %}>{{ i18n.august }}</option>
                        <option value="09" {% if payload["expiryDateMonth_" + index] == '09' %} selected {% endif %}>{{ i18n.september }}</option>
                        <option value="10" {% if payload["expiryDateMonth_" + index] == '10' %} selected {% endif %}>{{ i18n.october }}</option>
                        <option value="11" {% if payload["expiryDateMonth_" + index] == '11' %} selected {% endif %}>{{ i18n.november }}</option>
                        <option value="12" {% if payload["expiryDateMonth_" + index] == '12' %} selected {% endif %}>{{ i18n.december }}</option>
                    </select>
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiryDateYear_{{index}}">
                        {{ i18n.year }}
                    </label>
                    {% set yearValue = payload["expiryDateYear_" + index] %}
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4{% if errorMessageText %} govuk-input--error{% endif %}" id="expiryDateYear_{{index}}" name="expiryDateYear_{{index}}" value="{{ yearValue }}">
                </div>
            </div>
        </div>
    </fieldset>
   </div> 