{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

  {% if errors["expiryDate_" + index] %}
    {% set errorMessageText = errors["expiryDate_" + index].text %}
  {% elif errors["expiryDateDay_" + index] %}
    {% set errorMessageText = errors["expiryDateDay_" + index].text %}
  {% elif errors["expiryDateMonth_" + index] %}
    {% set errorMessageText = errors["expiryDateMonth_" + index].text %}
  {% elif errors["expiryDateYear_" + index] %}
    {% set errorMessageText = errors["expiryDateYear_" + index].text %}
  {% endif %}


   <div class="govuk-form-group {% if errorMessageText  %}govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <legend class="govuk-fieldset__legend">
            <span class="govuk-visually-hidden">{{ body }}</span>
           {% if expiryDateOptionalDocs.includes(body) %}
              {{ i18n.ExpiryDate }} {{ i18n.optional }}
           {% else %}
              {{ i18n.ExpiryDate }}
           {% endif %}
        </legend>
        <div id="passport-issued-hint" class="govuk-hint">
           {{i18n.ExpiryDateHint}}
        </div>
        {% if errorMessageText %}
          <p id="expiry-date-error" class="govuk-error-message">
             <span class="govuk-visually-hidden">Error:</span> {{ errorMessageText }}
          </p>
        {% endif %}
        <div class="govuk-date-input" id="expiryDate_{{index}}">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiryDateDay_{{index}}">
                        {{ i18n.day }}
                    </label>
                    {% set dayValue = payload["expiryDateDay_" + index] %}
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2{% if errorMessageText %} govuk-input--error{% endif %}" id="expiryDateDay_{{index}}" name="expiryDateDay_{{index}}" value="{{ dayValue }}" type="text" inputmode="numeric" maxlength="2">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiryDateMonth_{{index}}">
                        {{ i18n.month }}
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2{% if errorMessageText %} govuk-input--error{% endif %}" id="expiryDateMonth_{{index}}" name="expiryDateMonth_{{index}}" value="{{ payload["expiryDateMonth_" + index] }}" type="text" inputmode="numeric" maxlength="2">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiryDateYear_{{index}}">
                        {{ i18n.year }}
                    </label>
                    {% set yearValue = payload["expiryDateYear_" + index] %}
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4{% if errorMessageText %} govuk-input--error{% endif %}" id="expiryDateYear_{{index}}" name="expiryDateYear_{{index}}" value="{{ yearValue }}" type="text" inputmode="numeric" maxlength="4">
                </div>
            </div>
        </div>
    </fieldset>
   </div>