{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set title = i18n.idDocumentDetailstitle %}

{% block main_content %}
  <form action="" method="POST">
    <h1 class="govuk-heading-l"> {{ i18n.idDocumentDetailstitle }} </h1>
    {% for body in documentsChecked %}
      {% set index = loop.index %}
        <h2 class="govuk-heading-m"> {{body}} details </h2>
        <!--Document Input-->
        {{ govukInput({
            label: {
                text: body + " number",
                classes: "govuk-label "
            },
            classes: "govuk-input--width-10",
            hint: {
                text: "This is a 9 character reference. It is usually shown in the top right hand corner of the photo page in the" + body+ "."
            },
            id: "documentDetails_" + index,
            name: "documentDetails_" + index,
            value: payload["documentDetails_" + index],
            errorMessage: {
                 text: errors["documentDetails_" + index].text
            } if errors["documentDetails_" + index]
        }) }}

        <!--Date  Input-->
        {% include "partials/date.njk" %}

        <!--Country  Input-->
        <div id="typeahead-form-group-{{index}}" class="govuk-form-group">
            <label class="govuk-label" for="location">{{i18n.chooseCountryText}} </label>
            <p class="govuk-hint" id="typeahead-hint-{{index}}">{{i18n.chooseCountryhint}} {{body}}.</p>
            {% set dropdownDefaultText = i18n.chooseCountryText1 %}
            <div id="my-autocomplete-container-{{index}}" class="autocomplete-wrapper govuk-input--width-10"></div>
              <noscript>
                  {% set dropdownNumber = index %}
                  {% set errorMessage = dropdownOneError %}
              </noscript>
        </div>               
    {% endfor %}
    {% include "partials/country-typeahead-input.njk" %} 
    {{ govukButton({
            text: i18n.Continue,
            id: "continue-button"
    }) }}
  </form>
{% endblock main_content %}  