{% from "govuk/components/button/macro.njk" import govukButton %}
<noscript>
  <style nonce={{ nonce | dump | safe }}>
    a[id="print-button"] {
      display: none;
    }
    .check-your-answers-javascript-disabled-text-style {
      display: block !important;
    }
  </style>
</noscript>

<style nonce={{ nonce | dump | safe }}>
  .check-your-answers-javascript-disabled-text-style {
    display: none;
  }
</style>

{{ govukButton({
  text: i18n.printButton,
  classes: "govuk-button--secondary",
  id: "print-button"
}) }}

<p class="govuk-body govuk-!-font-size-20 check-your-answers-javascript-disabled-text-style">{{i18n.printFromBrowser}}</p>

<!-- Calling Matomo event script to capture event actions based on page title -->
<script nonce={{ nonce | dump | safe }}>
  // Add event listener to print screen button
  document.getElementById("print-button")
    .addEventListener("click", () => {
      window.print()
    });
</script>