{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}
{% set title = i18n.homeAddressTitle %}
{% block main_content %}
  <form action="" method="POST">
    {% include "partials/csrf_token.njk" %}
    {% include "partials/user_name.njk" %}
    <h1 class="govuk-heading-l">
      {{ i18n.homeAddressTitle }}
    </h1>
    {{ govukInput({
      label: {
        text: i18n.homeAddressPostcode
      },
      errorMessage: {
        text: errors.postCode.text
      } if errors.postCode | length,
      hint: {
        text: i18n.homeAddressPostcodeHint
      },
      classes: "govuk-input--width-10",
      id: "postCode",
      name: "postCode",
      value: payload.postCode
    }) }}
    {{ govukInput({
      label: {
        text: i18n.homeAddressPremise
      },
      errorMessage: {
        text: errors.premise.text
      } if errors.premise | length,
      hint: {
        text: i18n.homeAddressPremiseHint
      },
      classes: "govuk-input--width-10",
      id: "premise",
      name: "premise",
      value: payload.premise
    }) }}
    {{ govukButton({
      text: i18n.homeAddressFindAddressBtn,
      id: "find-address-button"
    }) }}
    <p>
      <a href={{AddressManualLink}} class="govuk-link" id="enter-address-manually-link">{{ i18n.homeAddressManualLink }}</a>
    </p>
  </form>

<!-- Calling Matomo event script to capture event actions based on page title -->
<script nonce={{ nonce | dump | safe }}>
  trackEventBasedOnPageTitle("enter-address-manually-link", "{{title}}" + " - Tell Companies House you have verified someone’s identity", "{{matomoLinkClick}}", "Enter address manually");
</script>

{% endblock %}