{% extends "layouts/default.njk" %}
{% set title = i18n.reverifyInvalidPersonalCodeTitle %}

{% block main_content %}
    <h1 class="govuk-heading-l">{{ i18n.reverifyInvalidPersonalCodeTitle }}</h1>
    <p class="govuk-body">{{ i18n.reverifyInvalidPersonalCodeBody }}</p>
{% endblock main_content %}