{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% block main_content %}
    <form action="" method="POST">
        <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>
        <h2 class="govuk-heading-m">Details for James  Morris</h2>
        {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          text: "Sarah Philips"
        },
        actions: {
            items: [
              {
                href: "/register-as-companies-house-authorised-agent/unincorporated/name-registered-with-aml" + "?lang=" + lang,
                text: "Change",
                visuallyHiddenText: i18n.checkAnswersNameWithAML
              }
            ]
          }
      },
    {
      key: {
        text: "Email address"
      },
      value: {
        html: "james@jamesaccounting.com"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
      {
        key: {
          text: "Date of birth"
        },
        value: {
          text: "5 January 1978"
        },
        actions: {
            items: [
              {
                href: "/register-as-companies-house-authorised-agent/unincorporated/what-is-your-name" + "?lang=" + lang,
                text: "Change",
                visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
      {
        key: {
          text: "Home address"
        },
        value: {
          text: "7 Wentloog Road, Rumney, Cardiff,Wales,CF3 3EA"
        },
        actions: {
            items: [
              {
                href: "/register-as-companies-house-authorised-agent/unincorporated/what-is-the-business-name" + "?lang=" + lang,
                text: "Change",
                visuallyHiddenText: "Home address"
              }
            ]
          }
      },
          {
      key: {
        text: "Date identity checks were completed"
      },
      value: {
        html: "Hellllllllooooooooo"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Date identity checks were completed"
          }
        ]
      }
    },
    {
      key: {
        text: "Option used to check identity documents"
      },
      value: {
        text: "Option 2 - the documents were checked by a person"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Option used to check identity documents"
          }
        ]
      }
    },
    {
      key: {
        text: "Identity documents that were checked"
      },
      value: {
        html: "Current signed passport"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Identity documents that were checked"
          }
        ]
      }
    },
    {
      key: {
        text: "Identity verification declaration"
      },
      value: {
        text: " declaration	
I confirm that JAMES ACCOUNTING LTD verified the identity of James Morris to the standard set by Companies House and is satisfied that the required personal information is true. The verification checks were completed .

JAMES ACCOUNTING LTD is supervised by Association of Chartered Certified Accountants."
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Identity verification declaration"
          }
        ]
      }
    }
  ]
}) }}      

<div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
             Declaration
            </h2>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
               I confirm that JAMES ACCOUNTING LTD has delivered the date of birth and required contact information for James  Morris, and a description of the information and evidence used to satisfy that the required personal information is true.

              </label>
            </div>
          </div>
        </fieldset>
      </div>
      
        {{ govukButton({
            text: i18n.continueSend
           }) }}
    </form>
{% endblock main_content %}