{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% block main_content %}
    <form action="" method="POST">
        <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>
        <h2 class="govuk-heading-m">Details for James  Morris</h2>
        {{ govukSummaryList({
    rows: [
      {
        key: {
          text: i18n.name
        },
        value: {
          text: clientData.firstName + " " + clientData.lastName
        }
      },
      {
        key: {
          text: i18n.emailAddressConfirmation
        },
        value: {
          text: clientData.emailAddress
        }
      },
      {
        key: {
          text: i18n.dateOfBirth
        },
        value: {
          text: clientData.dateOfBirth
        }
      },
      {
        key: {
          text: i18n.homeAdd
        },
        value: {
          text: clientData.address
        }
      },
      {
        key: {
          text: i18n.dateIdentityCompleted
        },
        value: {
          text: clientData.whenIdentityChecksCompleted
        }
      },
      {
        key: {
          text: i18n.optionUsed
        },
        value: {
          text: clientData.howIdentityDocsChecked
        }
      },
      {
        key: {
          text: i18n.identityDoc
        },
        value: {
          text: clientData.documentsChecked
        }
      },
      {
        key: {
          text: i18n.identityVerification
        },
        value: {
          text: clientData.firstName
        }
      }
    ]
  }) }}

<div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
             Declaration
            </h2>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
               I confirm that JAMES ACCOUNTING LTD has delivered the date of birth and required contact information for James  Morris, and a description of the information and evidence used to satisfy that the required personal information is true.

              </label>
            </div>
          </div>
        </fieldset>
      </div>
      
        {{ govukButton({
            text: i18n.continueSend
           }) }}
    </form>
{% endblock main_content %}