{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% extends "layouts/default.njk" %} {% set title =
i18n.identityDocumentsIDVTitle %}

{% block main_content %}
    <form action="" method="POST">
        {% include "partials/user_name.njk" %}
        <h1 class="govuk-heading-l">{{i18n.identityDocumentsIDVTitle}}</h1>
        <p class="govuk-hint">{{i18n.identityDocumentsIDVHint2}} </p>
        {{ govukCheckboxes({
            name: "documentsGroup2A",
            fieldset: {
                legend: {
                    text: i18n.textGroupA,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                }
            },

            values: payload["documentsGroup2A"],
            items: [
            {
                value: "passport",
                text: i18n.passport,
                id: "passport"
            },
            {
                value: "irish_passport_card",
                text: i18n.IrishCard,
                id: "irish-passport-card"
            },
            {
                value: "EEA_identity_card",
                text: i18n.identityCard,
                id: "identity-card"
            },
            {
                value: "UK_biometric_residence_permit",
                text: i18n.ukBRP,
                id: "uk-biometric-residence-permit"
            },
            {
                value: "UK_biometric_residence_card",
                text: i18n.ukBRC,
                id: "uk-biometric-residence-card"
            },
            {
                value: "UK_PASS_card",
                text: i18n.passCard,
                id: "uk-accredited-pass-card"
            },
            {
                value: "UK_or_EU_digital_tachograph_card",
                text: i18n.ukEuDigitalCard,
                id: "uk-eu-driver-digital-tacograph-card"
            },
            {
                value: "UK_or_EU_driving_licence",
                text: i18n.fullDrivingLicense,
                id: "uk-drivers-licence"
            },
            {
                value: "UK_HM_forces_card",
                text: i18n.ukForceCard,
                id: "uk-forces-id-card"
            },
            {
                value: "UK_HM_veteran_card",
                text: i18n.ukArmedForceCard,
                id: "uk-armed-forces-veteran-card"
            },
            {
                value: "UK_frontier_worker_permit",
                text: i18n.ukFrontierPermit,
                id: "uk-frontier-worker-permit"
            },
            {
                value: "work_permit_photo_id",
                text: i18n.photoWorkPermit,
                id: "photo-work-permit"
            },
            {
                value: "immigration_document_photo_id",
                text: i18n.photoimmigrationDoc,
                id: "photo-immigration-doc"
            },
            {
                value: "visa_photo_id",
                text: i18n.photoVisa,
                id: "photo-visa"
            },
            {
                value: "UK_firearms_licence",
                text: i18n.ukFirearmsLicence,
                id: "uk-firearms-licence"
            },
            {
                value: "PRADO_supported_photo_id",
                text: i18n.photoIdPrado,
                id: "photo-id-prado",
                hint: {
                        text: i18n.photoIdPradoHint
                }
            }
            ]
        }) }}

        {{ govukCheckboxes({
            name: "documentsGroup2B",
            fieldset: {
                legend: {
                    text: i18n.textGroupB,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            
            values: payload["documentsGroup2B"],
            items: [
            {
                value: "birth_certificate",
                text: i18n.birthCert,
                id: "birth-cert"
            },
            {
                value: "marriage_certificate",
                text: i18n.marriageCert,
                id: "marriage-cert"
            },
            {
                value: "immigration_document_non_photo_id",
                text: i18n.noPhotoimmigrationDoc,
                id: "non-photo-immigration-doc"
            },
            {
                value: "visa_non_photo_id",
                text: i18n.noPhotoVisa,
                id: "non-photo-visa"
            },
            {
                value: "work_permit_non_photo_id",
                text: i18n.noPhotoWorkPermit,
                id: "non-photo-work-permit"
            },
            {
                value: "bank_statement",
                text: i18n.bankStatement,
                id: "bank-statement"
            },
            {
                value: "rental_agreement",
                text: i18n.rentalAgreement,
                id: "rental-agreement"
            },
            {
                value: "mortgage_statement",
                text: i18n.morgageStatement,
                id: "mortgage-statement"
            },
            {
                value: "UK_council_tax_statement",
                text: i18n.taxStatement,
                id: "council-tax-statement"
            },
            {
                value: "utility_bill",
                text: i18n.utilityBill,
                id: "utility-bill"
            }
            ]
        }) }}
        {{ govukButton({
            text: i18n.Continue,
            id: "continue-button"
        }) }}
    </form>

<!-- Calling Matomo event script to capture event actions based on page title -->
<!--<script>
    trackEventBasedOnPageTitle("passport", "{{title}}",  "Passport");
    trackEventBasedOnPageTitle("irish-passport-card", "{{title}}",  "Irish passport card");
    trackEventBasedOnPageTitle("identity-card", "{{title}}",  "Identity card with biometric information from the EU, Norway, Iceland or Liechtenstein");
    trackEventBasedOnPageTitle("uk-biometric-residence-permit", "{{title}}",  "UK biometric residence permit (BRP)");
    trackEventBasedOnPageTitle("uk-biometric-residence-card", "{{title}}",  "UK biometric residence card (BRC)");
    trackEventBasedOnPageTitle("uk-accredited-pass-card", "{{title}}",  "UK accredited PASS card");
    trackEventBasedOnPageTitle("uk-eu-driver-digital-tacograph-card", "{{title}}", "UK or EU driver digital tachograph card");
    trackEventBasedOnPageTitle("uk-drivers-licence", "{{title}}",  "UK, Channel Islands,  Isle of Man, and EU photocard driving license (full or provisional)");
    trackEventBasedOnPageTitle("uk-forces-id-card", "{{title}}",  "UK HM Forces ID card");
    trackEventBasedOnPageTitle("uk-armed-forces-veteran-card", "{{title}}",  "UK HM Armed Forces Veteran Card");
    trackEventBasedOnPageTitle("uk-frontier-worker-permit", "{{title}}",  "UK Frontier worker permit");
    trackEventBasedOnPageTitle("photo-work-permit", "{{title}}",  "Photographic work permit (government issued)");
    trackEventBasedOnPageTitle("photo-immigration-doc", "{{title}}",  "Photographic immigration document");
    trackEventBasedOnPageTitle("photo-visa", "{{title}}",  "Photographic visa");
    trackEventBasedOnPageTitle("uk-firearms-licence", "{{title}}",  "PUK, Channel Islands and Isle of Man Firearms Licence");
    trackEventBasedOnPageTitle("photo-id-prado", "{{title}}",  "Photographic ID listed on PRADO");
    trackEventBasedOnPageTitle("birth-cert", "{{title}}", "Birth or adoption certificate");
    trackEventBasedOnPageTitle("marriage-cert", "{{title}}",  "Marriage or civil partnership certificate");
    trackEventBasedOnPageTitle("non-photo-immigration-doc", "{{title}}",  "Non-photographic immigration document");
    trackEventBasedOnPageTitle("non-photo-visa", "{{title}}",  "Non-photographic visa");
    trackEventBasedOnPageTitle("non-photo-work-permit", "{{title}}",  "Non-photographic work permit");
    trackEventBasedOnPageTitle("bank-statement", "{{title}}",  "Bank or building society statement");
    trackEventBasedOnPageTitle("rental-agreement", "{{title}}",  "UK local authority or social housing rental agreement (for the person's current address)");
    trackEventBasedOnPageTitle("mortgage-statement", "{{title}}",  "Mortgage statement (for the person's current address)");
    trackEventBasedOnPageTitle("council-tax-statement", "{{title}}",  "UK Council Tax statement (for the person's current address)");
    trackEventBasedOnPageTitle("utility-bill", "{{title}}",  "Utility bill (for the person's current address)");
    trackEventBasedOnPageTitle("continue-button", "{{title}}",  "Continue-DC2");
</script>-->

{% endblock main_content %}
