{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% extends "layouts/default.njk" %} {% set title =
i18n.identityDocumentsIDVTitle %}

{% block main_content %}
    <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
        {% include "partials/csrf_token.njk" %}
        {% include "partials/user_name.njk" %}
        {% if reqType == "reverify"%}
           {% set title = i18n.identityDocumentsIDVTitleReverification %}
        {% else %}
           {% set title = i18n.identityDocumentsIDVTitle %}
        {% endif %}
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>
        <p class="govuk-hint">{{i18n.identityDocumentsIDVHint2}} </p>
        {{ govukCheckboxes({
            name: "documentsGroup2A",
            fieldset: {
                legend: {
                    isPageHeading: false,
                    html: "<h2 class='govuk-heading-m'>"+i18n.textGroupA+"</h2>"
                }
            },

            values: payload["documentsGroup2A"],
            items: [
            {
                value: "passport",
                text: i18n.passport,
                id: "passport"
            },
            {
                value: "irish_passport_card",
                text: i18n.irish_passport_card,
                id: "irish-passport-card"
            },
            {
                value: "EEA_identity_card",
                text: i18n.EEA_identity_card,
                id: "identity-card"
            },
            {
                value: "UK_biometric_residence_permit",
                text: i18n.UK_biometric_residence_permit,
                id: "uk-biometric-residence-permit"
            },
            {
                value: "UK_biometric_residence_card",
                text: i18n.UK_biometric_residence_card,
                id: "uk-biometric-residence-card"
            },
            {
                value: "UK_PASS_card",
                text: i18n.UK_PASS_card,
                id: "uk-accredited-pass-card"
            },
            {
                value: "UK_or_EU_digital_tachograph_card",
                text: i18n.UK_or_EU_digital_tachograph_card,
                id: "uk-eu-driver-digital-tacograph-card"
            },
            {
                value: "UK_or_EU_driving_licence",
                text: i18n.UK_or_EU_driving_licence,
                id: "uk-drivers-licence"
            },
            {
                value: "UK_HM_forces_card",
                text: i18n.UK_HM_forces_card,
                id: "uk-forces-id-card"
            },
            {
                value: "UK_HM_veteran_card",
                text: i18n.UK_HM_veteran_card,
                id: "uk-armed-forces-veteran-card"
            },
            {
                value: "UK_frontier_worker_permit",
                text: i18n.UK_frontier_worker_permit,
                id: "uk-frontier-worker-permit"
            },
            {
                value: "work_permit_photo_id",
                text: i18n.work_permit_photo_id,
                id: "photo-work-permit"
            },
            {
                value: "immigration_document_photo_id",
                text: i18n.immigration_document_photo_id,
                id: "photo-immigration-doc"
            },
            {
                value: "visa_photo_id",
                text: i18n.visa_photo_id,
                id: "photo-visa"
            },
            {
                value: "UK_firearms_licence",
                text: i18n.UK_firearms_licence,
                id: "uk-firearms-licence"
            },
            {
                value: "PRADO_supported_photo_id",
                text: i18n.PRADO_supported_photo_id,
                id: "photo-id-prado",
                hint: {
                        text: i18n.photoIdPradoHint
                }
            }
            ]
        }) }}

        {{ govukCheckboxes({
            name: "documentsGroup2B",
            fieldset: {
                legend: {
                    isPageHeading: false,
                    html: "<h2 class='govuk-heading-m'>"+i18n.textGroupB+"</h2>"
                }
            },
            
            values: payload["documentsGroup2B"],
            items: [
            {
                value: "birth_certificate",
                text: i18n.birth_certificate,
                id: "birth-cert"
            },
            {
                value: "marriage_certificate",
                text: i18n.marriage_certificate,
                id: "marriage-cert"
            },
            {
                value: "immigration_document_non_photo_id",
                text: i18n.immigration_document_non_photo_id,
                id: "non-photo-immigration-doc"
            },
            {
                value: "visa_non_photo_id",
                text: i18n.visa_non_photo_id,
                id: "non-photo-visa"
            },
            {
                value: "work_permit_non_photo_id",
                text: i18n.work_permit_non_photo_id,
                id: "non-photo-work-permit"
            },
            {
                value: "bank_statement",
                text: i18n.bank_statement,
                id: "bank-statement"
            },
            {
                value: "rental_agreement",
                text: i18n.rental_agreement,
                id: "rental-agreement"
            },
            {
                value: "mortgage_statement",
                text: i18n.mortgage_statement,
                id: "mortgage-statement"
            },
            {
                value: "UK_council_tax_statement",
                text: i18n.UK_council_tax_statement,
                id: "council-tax-statement"
            },
            {
                value: "utility_bill",
                text: i18n.utility_bill,
                id: "utility-bill"
            }
            ]
        }) }}
        {{ govukButton({
            text: i18n.Continue,
            id: "continue-button"
        }) }}
    </form>


{% endblock main_content %}
