{# Extends the Companies House Page Template: https://github.com/companieshouse/ch-node-utils/blob/2.0.0/docs/page-template.md #}
{% extends "ch-node-utils/templates/layouts/template.njk" %}
{% import "add-lang-to-url.njk" as lang2url %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}



{% set mainContentId = "main-page-content" %}

{% set tabTitle = "" %}
{% if errors %}
    {% set tabTitle = i18n.error + ": " %}
{% endif %}

{% if title %}
    {% set tabTitle = tabTitle + title + " - " %}
{% endif %}

{% set tabTitle = tabTitle + i18n[tabTitleKey] %}

{% block pageTitle %}{{ tabTitle }}{% endblock %}

{% block head %}
{{ super() }}
{% include "partials/__meta_header.njk" %}
{% endblock %}

{% block header %}
  <div class="govuk-header">
    {% include "partials/__header.njk" %}
  </div>
{% endblock %}

{% block content %}
  {% include "partials/cookie_consent_banner.njk" %}
  {% block skipLink %}
    {{ govukSkipLink({
          text: "Skip to main content",
          href: "#" + mainContentId
    }) }}
  {% endblock %}
  {% include "partials/phase_banner.njk" %}
  {% if not hideCompaniesHouseDoesNotVerifyText %}
  {# This will allow us to conditionally set wether this text is hidden on specific pages (this is currenly only applicable to accessibility statement view, as we do not want this text to appear) #}
  <div class="govuk-width-container small-text does-not-verify-link-spacing">
    <a class="govuk-link govuk-link--no-visited-state govuk-!-padding-top-2" href="https://resources.companieshouse.gov.uk/serviceInformation.shtml" target="_blank">
        {{i18n.companiesHouseDoesNotVerify}}
        <span class="govuk-visually-hidden">(link opens a new window)</span>
    </a>
  </div>
  {% endif %}
  {% block navBar %}
    {% include "partials/nav/top.njk" %}
  {% endblock %}
  {% block localesBanner %}
    {% include "locales-banner.njk" %}
  {% endblock %}
  {% block backLink %}
    <a href="{{ previousPage }}" class="govuk-back-link">{{i18n.Back}}</a>
  {% endblock %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
    </div>
    <div class="govuk-grid-column-two-thirds" id="{{ mainContentId }}">
      {% include "partials/error_summary.njk" %}
      {% block main_content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "partials/__footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="path/to/app.js"></script>
{% endblock %}