{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set title = i18n.startPageTitle %}

{% block main_content %}
  <form action="" method="POST">
    <h1 class="govuk-heading-l">Enter the details exactly as they appear on the document</h1>

              {% for body in documentsChecked %}
                {% set index = loop.index %}
                <h2 class="govuk-heading-m"> {{body}} details </h2>
                <!--Document Input-->
                {{ govukInput({
                            label: {
                                text: body + "details",
                                classes: "govuk-label ",
                                isPageHeading: true
                            },
                            classes: "govuk-input--width-10",
                            hint: {
                              text: "This is a 9 character reference. It is usually shown in the top right hand corner of the photo page in the" + body+ "."
                            },
                            id: "documentDetials_" + index,
                            name: "documentDetials_" + index,
                            errorMessage: {
                                text: errors["documentDetials_" + index].text
                            } if errors["documentDetials_" + index]
                        }) }}

                        <!--Date  Input-->
                        {% include "partials/date.njk" %}

                        <!--Country Input-->

                <div id="typeahead-form-group-{{index}}" class="govuk-form-group">
                  <label class="govuk-label" for="location">Country of issue</label>
                  <p class="govuk-hint" id="typeahead-hint-{{index}}">This is usually shown on the first page of the {{body}}.</p>
                  {% set dropdownDefaultText = i18n.chooseCountryText %}
                  <div id="my-autocomplete-container-{{index}}" class="autocomplete-wrapper govuk-input--width-10"></div>
                          <noscript>
                              {% set dropdownNumber = index %}
                              {% set errorMessage = dropdownOneError %}
                          </noscript>
                          {% include "partials/country-typeahead-input.njk" %}
                </div>


              {% endfor %}

        {{ govukButton({
            text: i18n.Continue,
            id: "continue-button"
        }) }}

  </form>

<!-- Calling Matomo event function to capture event actions based on page title -->
<script>
  trackEventBasedOnPageTitle("identity-verification-standard-link", "{{title}}", "{{matomoLinkClick}}", "Companies House identity verification standard");
  trackEventBasedOnPageTitle("read-the-guidance-verification-link", "{{title}}", "{{matomoLinkClick}}", "Guidance about verifying someone's identity for Companies House");
  trackEventBasedOnPageTitle("start-now", "{{title}}", "{{matomoButtonClick}}", "Start Now");
</script>



{% endblock main_content %}