{% from "govuk/components/input/macro.njk" import govukInput %}
{% extends "layouts/default.njk" %}
{% set title = i18n.startPageTitle %}
{% block backLink %}
  {# Remove back button on this page by replacing it with nothing #}
{% endblock %}
{% block main_content %}
  <form action="" method="POST">
    <h1 class="govuk-heading-l">Enter the details exactly as they appear on the document</h1>

              {% for body in documentsChecked %}
                    {% set index = loop.index %}
                        {{ govukInput({
                            label: {
                                text: body + "details",
                                classes: "govuk-label l govuk-label--m",
                                isPageHeading: true
                            },
                            id: "documentDetials_" + index,
                            name: "documentDetials_" + index,
                            errorMessage: {
                                text: errors["documentDetials_" + index].text
                            } if errors["documentDetials_" + index]
                        }) }}
                        {% include "partials/date.njk" %}
                   
                      <div id="typeahead-form-group-{{index}}" class="govuk-form-group">
                          <p class="govuk-hint-{{index}} govuk-hint" id="typeahead-hint-{{index}}">{{ i18n.firstNationalityHint }}</p>
                          {% set dropdownDefaultText = i18n.whatIsYourNationalityDefaultDropdownText %}
                          <div id="nationality-{{index}}" class="autocomplete-wrapper govuk-!-width-two-thirds"></div>
                          <noscript>
                              {% set dropdownNumber = {{index}} %}
                              {% set errorMessage = dropdownOneError %}
                              {% include "partials/country-typeahead-input.njk" %}
                          </noscript>
                      </div>
                            
                           

                    
              {% endfor %}

  </form>

<!-- Calling Matomo event function to capture event actions based on page title -->
<script>
  trackEventBasedOnPageTitle("identity-verification-standard-link", "{{title}}", "{{matomoLinkClick}}", "Companies House identity verification standard");
  trackEventBasedOnPageTitle("read-the-guidance-verification-link", "{{title}}", "{{matomoLinkClick}}", "Guidance about verifying someone's identity for Companies House");
  trackEventBasedOnPageTitle("start-now", "{{title}}", "{{matomoButtonClick}}", "Start Now");
</script>

{% endblock %}